body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

.top-container {
  background-color: #e4F9F5;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding: 30px 0 30px 0;
  font-size: 2.5rem;
  margin-top: 15px;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  padding-top: 100px;
  position: relative;
  left: 250px;
}

.Web-D {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Python {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
  padding: 50px 30px 30px 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  padding: 80px 0 70px 0;
}

.border {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 6.5px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 50px 0 0 0;
  color: white;
  padding: 10px;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

.contact {
  width: 20%;
  margin: auto;
  padding: 10px 0 30px 0;
}
